.fa-solid{
   position: absolute;
   padding-top: 4px;
   padding-left: 4px;
  
}
input{
  padding-left: 20px;
}
.bt{
 background: linear-gradient(135deg, #38BDF8 0%, #818CF8 100%);
  color: #FFFFFF;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
 
}
i{
  color: rgb(5, 58, 58);
}



H1{
  
 
  height: 100%;
  margin-top :0%; ;
  padding-right: 50px;
  padding: 50px 80px;
  background: linear-gradient( #FACC15 , #E11D48 );
  
  color:(#94A3B8);
      
  
}
body{
  margin: 0px;
  padding: 0px;
  background:#0F172A; 
}
label{
  color: #94A3B8;
}
div{
  margin-top: 15px;
}
